a span {
  font-family: 'Arial Black',Sans-Serif;
  font-size: 75px;
  color: #ff00ff;
}

#name-and-slogan #site-slogan {
  font-family: Arial, Helvetica,Sans-Serif;
  font-size: 35px;
  color: #ff00ff;
}

#block-system-navigation h2 {
  font-family: Arial, Helvetica,Sans-Serif;
}

ul li {
  font-family: Arial, Helvetica,Sans-Serif;
}

.section h1 {
  font-family: Arial, Helvetica,Sans-Serif;
}

#first-time p {
  font-family: Arial, Helvetica,Sans-Serif;
}

